@media ($desktop) {

  a, button {
    transition: none !important;
  }

  .container {
    width: 980px;
    padding: 0 15px;
  }

  .to-animate {
    opacity: 1;
  }

  .text-page img[align="left"] {
    margin-right: 25px;
    margin-bottom: 15px;
  }
  .text-page img[align="right"] {
    margin-left: 25px;
    margin-bottom: 15px;
  }

  h1, .title-h1 {
    font-size: 42px;
  }
  h2, .title-h2 {
    font-size: 36px;
  }
  h3, .title-h3 {
    font-size: 28px;
  }
  h4, .title-h4 {
    font-size: 22px;
  }

  .responsive-table td {
    padding: 10px 6px 7px;
  }

  //////////////////////////////////////////// catalog //////////////////////////////////////

  .catalog-subcategory > li {
    width: 50%;
  }

  .sidebar-title {
    font-size: 22px;
  }

  .sidebar {
    width: 30%;
  }

  .right-block {
    width: 70%;
    padding-left: 30px;
  }

  .catalog-subcategory {
    padding: 35px 0 15px;
    margin-top: 5px;
  }

  .sidebar-one-line > li:nth-child(9n+9) {
    margin-right: 13px;
  }

  .sidebar-one-line > li {
    margin-right: 13px;
  }

  .sidebar-one-line > li:nth-child(7n+7) {
    margin-right: 0;
  }

  .catalog-title {
    margin-bottom: 15px;
  }

  .catalog-sort__list {
    display: block;
    margin-left: 0;
  }

  .catalog-sort__label {
    top: 0;
    display: block;
    margin-bottom: 5px;
  }

  .catalog-list__item {
    display: inline-block;
    width: 49%;
    margin-right: 2%;
    margin-bottom: 10px;
  }

  .catalog-list__item:nth-child(3n+3) {
    margin-right: 2%;
  }

  .catalog-list__item:nth-child(2n+2) {
    margin-right: 0;
  }

  .catalog-list__item .goods {
    max-width: none;
  }

////////////////////////////////////////// product ///////////////////////////////////

  .product {
    margin-bottom: 60px;
  }

  .product-section {
    margin-bottom: 25px;

    iframe {
      height: 420px;
    }
  }

  .product-slider, .product-ctrl {
    display: block;
    width: 100%;
    margin: 0;
  }

  .product-wrapper-top {
    margin-bottom: 15px;
  }

  .product-slider {
    margin-bottom: 20px;
    max-width: 615px;
    margin-left: auto;
    margin-right: auto;
  }

  .product-slider__bottom:after {
    width: 126px;
    right: -123px;
  }

  .product-ctrl {
    padding-left: 0;
  }

  .product-property-title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .product-property .left-block, .product-property .right-block {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    vertical-align: top;
  }

  .product-property-table tbody tr td:first-child {
    width: 170px;
  }

  .product-property .right-block {
    padding-left: 0;
  }

  .product-technologies__item--image {
    height: 150px;
  }

  .product-technologies__item--text {
    height: 90px;
    padding: 18px 30px;
  }

  .product-technologies {
    margin-bottom: -15px;

    &__item {
      margin-bottom: 10px;
    }
  }

  .product-technologies__item--image > img {
    max-height: none;
  }
















}