@media ($tablet) {
  .container {
    width: 748px;
    padding: 0;
  }

  *:after, *:before {
    transition: none;
  }

  //////////////////////// category ///////////////////////////////

  .category {
    margin-bottom: 20px;
  }
  .category__item--image {
    height: 190px;
  }
  .category__item--link {
    font-size: 16px;
  }

  ///////////////////////////// catalog /////////////////////////////////

  .catalog-sort__list > li.init {
    display: inline-block;
  }

  .catalog-sort__label {
    top: 0;
    display: inline-block;
    margin-bottom: 0;
  }

  .catalog-sort {
    position: relative;
    padding: 12px 0;
  }

  .catalog-sort__list {
    position: absolute;
    top: 0;
    left: 115px;
    z-index: 3;
  }

  .catalog-sort__list > li {
    display: none;
    margin-right: 0;
    background-color: #fff;
  }

  .catalog-sort__list > li a {
    border: 0;
  }

  .catalog-sort__list > li.init {
    padding: 10px 28px 8px;
    border: 1px solid #dcdcea;
  }

  .catalog-sort__list > .init > a {
    padding: 0;
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-left: 0;
      vertical-align: middle;
      border-top: 1px solid $text-color;
      border-right: 1px solid $text-color;
      border-left: 0;
      transform: rotateZ(135deg);
      transition: .3s ease;
      position: relative;
      left: 10px;
      bottom: 4px;
    }
  }

  .catalog-sort__list > .init.open > a:after {
    transform: rotateZ(-45deg);
    bottom: 2px;
  }

  .catalog-list {
    margin-bottom: 15px;
  }

}