@media ($tablet) {
  .container {
    width: 748px;
    padding: 0;
  }

  *:after, *:before {
    transition: none;
  }

  .text-page iframe {
    height: 420px;
  }

  //////////////////////// category ///////////////////////////////

  .category {
    margin-bottom: 20px;
  }
  .category__item--image {
    height: 210px;
    margin-bottom: 5px;
  }
  .category__item--link {
    font-size: 16px;
  }

  .category.category-lookbook .category__item--image {
    height: 240px;
  }

  .category.category-lookbook .category__item--image img {
    transform: translate(-50%, 0%);
    top: 0;
  }

  ///////////////////////////// catalog /////////////////////////////////

  .catalog-sort__list > li.init {
    display: inline-block;
  }

  .catalog-sort__label {
    top: 0;
    display: inline-block;
    margin-bottom: 0;
  }

  .catalog-sort {
    position: relative;
    padding: 12px 0;
  }

  .catalog-sort__list {
    position: absolute;
    top: 0;
    left: 115px;
    z-index: 3;
  }

  .catalog-sort__list > li {
    display: none;
    margin-right: 0;
    background-color: #fff;
  }

  .catalog-sort__list > li a {
    border: 0;
  }

  .catalog-sort__list > li.init {
    padding: 10px 28px 8px;
    border: 1px solid #dcdcea;
  }

  .catalog-sort__list > .init > a {
    padding: 0;
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-left: 0;
      vertical-align: middle;
      border-top: 1px solid $text-color;
      border-right: 1px solid $text-color;
      border-left: 0;
      transform: rotateZ(135deg);
      transition: .3s ease;
      position: relative;
      left: 10px;
      bottom: 4px;
    }
  }

  .catalog-sort__list > .init.open > a:after {
    transform: rotateZ(-45deg);
    bottom: 2px;
  }

  .catalog-list {
    margin-bottom: 15px;
  }

  /////////////////////////////////////// product ///////////////////

  .product-news-slider {
    .news-main-item__image {
      height: 140px;
    }
  }

  .product-slider-section .product-property-title {
    max-width: 90%;
  }

  .product-news-main {
    margin-top: 0;
  }

  .product-fourItem-slider.product-news-main .slick-arrow {
    top: -65px;
  }

  .gallery-slider-view__item {
    min-height: inherit;
    max-height: 380px;
    height: 80vh;
  }

  .product-modal-gallery__right {
    padding: 25px;
  }


  /////////////////////////////////// technology /////////////////////////////////

  .technologies-list {
    margin-bottom: 5px;

    .product-technologies__item {
      width: 33%;
      margin-right: .333%;

      &:nth-child(4n+4){
        margin-right: .333%;
      }

      &:nth-child(3n+3){
        margin-right: 0;
      }
    }
  }

  /////////////////////////////////// technology detail /////////////////////////////

  .technology-detail__image {
    width: 38%;
  }

  ////////////////////////////////////// news detail ///////////////////////////

  .news-detail__back {
    padding: 30px 0;
  }

  .news-detail__ctrl .detail-data {
    margin-top: 0;
  }

  .news-detail__image {
    width: 52%;
  }

  ////////////////////////////////////  dealer ////////////////////////////////

  .dealer__left {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .dealer__right {
    padding-left: 0;
    margin-bottom: 20px;
  }

  .gray-form {
    padding: 30px 115px;
  }

  ///////////////////////////////// look book detail //////////////////////


  .lookbook-detail-content {
    flex: 0 0 65%;
  }

  .lookbook-detail-sidebar {
    flex: 0 0 35%;
    padding-left: 6px;
  }

  .lookbook-slider__top-carousel {
    width: 383px;
  }

  .lookbook-scroll .icon-scroller {
    display: none;
  }

  .lookbook-scroll__block {
    width: 100%;
    height: 595px;

    .mCSB_inside>.mCSB_container {
      margin-right: 20px;
    }

  }

  .lookbook-slider-content__item {
    height: 488px;
  }

  .lookbook-detail {
    margin-top: -34px;
    padding-top: 28px;
    padding-bottom: 68px;
  }

  .lookbook-detail__subtitle {
    font-size: 16px;
    margin-top: 15px;
  }




}