@media ($mobile) {
  body {
    font-size: 13px;
  }
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .resp-table {
    display: block;
  }
  .responsive-table.large-only {
    display: none;
  }
  .blockquote {
    font-size: 14px;
  }

  .text-page img[align="left"],
  .text-page img[align="right"] {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    float: none;
    display: table;
  }

  .responsive-table td {
    padding: 9px 5px 6px;
  }

  //////////////////////// category ///////////////////////////////

  .category__item--image {
    height: 37vw;
  }
  .category__item--link {
    font-size: 14px;
  }

  /////////////////////// catalog /////////////////////////////////

  .sidebar, .right-block {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
  }
  .sidebar-title {
    font-size: 16px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: margin-bottom .3s ease;

    &.open {
      margin-bottom: 0;

      &:after {
        transform: rotateZ(-45deg);
        bottom: 17px;
      }
    }

    &:after {
      content: '';
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-left: 0;
      vertical-align: middle;
      border-top: 2px solid #181613;
      border-right: 2px solid #181613;
      border-left: 0;
      transform: rotateZ(135deg);
      transition: .3s ease;
      position: absolute;
      right: 2px;
      bottom: 19px;
    }
  }

  .sidebar-list {
    display: none;
  }

  .sidebar-filter {
    display: none;
    margin-bottom: 20px;
  }

  .sidebar-one-line > li:nth-child(7n+7) {
    margin-right: 13px;
  }

  .catalog-subcategory-title {
    display: block;
    font-size: 16px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-family: $font-black;
    border-bottom: 2px solid $text-color;
    cursor: pointer;

    &.open {
      margin-bottom: 0;

      &:after {
        transform: rotateZ(-45deg);
        bottom: 17px;
      }
    }

    &:after {
      content: '';
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-left: 0;
      vertical-align: middle;
      border-top: 2px solid #181613;
      border-right: 2px solid #181613;
      border-left: 0;
      transform: rotateZ(135deg);
      transition: .3s ease;
      position: absolute;
      right: 2px;
      bottom: 19px;
    }
  }

  .catalog-subcategory {
    border-top: 0;
    border-bottom: 0;
    padding: 10px 0 0;
    margin-bottom: 0;
    display: none;
  }

  .catalog-subcategory__item--title {
    font-size: 13px;
  }

  .catalog-title {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 19px;
  }

  .catalog-sort {
    padding: 0;
  }

  .catalog-sort__list {
    position: relative;
    left: 0;
    z-index: inherit;
  }

  .catalog-sort__list > li {
    width: 100%;
    text-align: center;
  }

  .catalog-sort__label {
    display: block;
    margin-bottom: 5px;
  }

  .catalog-list__item {
    display: block;
    width: 100%;
    margin-right: 0 !important;
  }

  .catalog-list__item .goods {
    max-width: 300px;
  }

  ////////////////////////////////// product detail ///////////////////////////////////

  .product-slider {
    max-width: 300px;
  }

  .product-slider__top {
    height: 300px;
  }

  .product-slider__top--item {
    height: 300px;
  }

  .product-zoom {
    display: none;
  }

  .product-slider__bottom-wrapper {
    height: 80px;
  }

  .product-slider__bottom--item > a {
    height: 74px;
  }

  .product-slider__bottom:after {
    width: 78px;
    right: -75px;
    height: 76px;
  }

  .product-slider__bottom {
    height: 85px;
    width: 225px;
  }

  .product-slider__bottom .slick-arrow.slick-prev {
    right: -29px;
    top: 36px;
  }

  .product-slider__bottom .slick-arrow.slick-next {
    right: -58px;
    top: 36px;
  }

  .product-art {
    font-size: 15px;
    padding: 0;
  }

  .product-price__old > span:first-child {
    font-size: 28px;
  }

  .product-price__current > span:first-child {
    font-size: 40px;
  }

  .product-price__current > span:last-child {
    font-size: 18px;
  }

  .product-price__old > span:last-child {
    font-size: 16px;
  }

  .product-label {
    font-size: 15px;
  }

  .product-size__list {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
    bottom: 0;
  }

  .product-distribute .btn {
    width: 100%;
    font-size: 18px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .product-distribute {
    margin-bottom: 10px;
  }

  .product-property-title {
    font-size: 19px;
    margin-bottom: 15px;
  }

  .product .four-item-slider .slick-arrow {
    top: -55px;
  }

  //.product-technologies__item--image {
  //  height: 16vh;
  //}

  .product-technologies__item--text {
    height: 78px;
    padding: 10px 10px;
  }

  .product-technologies {
    margin-bottom: 0;
  }

  //.product .six-item-slider .goods {
  //  margin: 4px auto;
  //}

  .product-slider-section .product-property-title {
    max-width: 76%;
  }

  .product-technologies__item {
    max-width: 300px;
    margin: auto !important;
  }

  .product-news-main .news-main-item {
    margin: -10px auto 0;
    max-width: 300px;
  }

  .product-property-table tbody tr:first-child {
    display: none;
  }

  .product-property-table tbody tr td:first-child {
    width: 100%;
    display: block;
    padding-bottom: 0;
  }

  .product-property-table tbody tr td {
    padding: 10px;
    display: block;
  }

  .product-property-table {
    border-top: 1px solid #dcdcdc;
  }

  .product-section iframe {
    height: 70vw;
  }






}