.btn {
  font-family: $font-cond-semi;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  transition: .3s ease;
  line-height: 1;
  text-align: center;
  background: transparent;
  letter-spacing: 2px;
}

.btn-accent {
  background-color: $accent;
  color: $text-color;
}

.btn-inverse {
  color: #fff;
  border: 2px solid #fff;
}

.btn-black {
  border: 2px solid $text-color;
}

.btn-big {
  padding: 18px 10px 16px;
}

.btn-normal {
  padding: 18px 10px 14px;
}

.btn-border-bottom {
  border-bottom: 2px solid $accent;
  &:hover {
    color: $accent;
  }
}

.btn-hover-light {
  &:hover {
    background-color: $accent-hover;
    color: $text-color;
  }
}

.btn-hover-normal {
  &:hover {
    background-color: $accent;
    color: $text-color;
    border-color: $accent;
  }
}


.btn-hover-black {
  &:hover {
    background-color: $text-color;
    color: #fff;
    border-color: $text-color;
  }
}

.slick-arrow {
  width: 30px;
  height: 30px;
  z-index: 1;
  color: transparent;
  background: none;
  border: none;
  transition: .3s ease;
  &:hover {
    &:after {
      border-color: $accent;
    }
  }
  &.slick-prev:after {
    transform: rotateZ(225deg);
  }
  &.slick-next:after {
    transform: rotateZ(45deg);
  }
}

.slick-arrow:after {
  content: '';
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  height: 15px;
  width: 15px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: block;
}

.slick-dots {
  button {
    z-index: 1;
    color: transparent;
    background-color: #fff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: none;
    line-height: 0;
    transition: .3s ease;

    &:hover {
      background-color: $accent;
    }

  }
  li {
    display: inline-block;
    margin-right: 10px;

  }
  .slick-active {
    button {
      width: 15px;
      height: 15px;
      background-color: $accent;
    }
  }
}

.uk-modal {
  background-color: rgba(22,22,38, .9);
  .uk-close {
    position: absolute;
    top: 30px;
    right: 30px;
    opacity: 1;
    width: 40px;
    height: 40px;
  }
}

.uk-close:hover {
  &:after {
    background-color: $accent;
  }
  &:before {
    background-color: $accent;
  }
}

.uk-close:after {
  display: block;
  content: "";
  font-family: inherit;
  width: 30px;
  height: 1px;
  background-color: #fff;
  transform: rotateZ(135deg);
  position: absolute;
  top: 20px;
  left: 5px;
  transition: .3s ease;
}

.uk-close:before {
  display: block;
  content: "";
  font-family: inherit;
  width: 30px;
  height: 1px;
  background-color: #fff;
  transform: rotateZ(45deg);
  position: absolute;
  top: 20px;
  left: 5px;
  transition: .3s ease;
}

.uk-modal-dialog {
  background-color: transparent;
  color: #fff;
}

.uk-modal-dialog.big {
  width: 100%;
  max-width:  1240px;
  padding: 20px 0;
}

.custom-input {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 30px;

  &--gray {
    label {
      color: #6a6a6a;
    }
    input {
      border-bottom-color: #33312d;
    }
  }
  label {
    font-size: 11px;
    position: absolute;
    top: 0;
    left: 0;
  }
  input {
    background-color: transparent;
    border-width: 0 0 2px 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #fff;
    width: 100%;
    height: 40px;
    padding: 0;
    @include placeholder {
      font-size: 15px;
      color: #929292;
    }
  }
}


