@charset "UTF-8";

@font-face{
  font-family: 'FiraSans-Regular';
  src: url("../fonts/firasans/firasans-regular-webfont.eot");
  src: url('../fonts/firasans/firasans-regular-webfont.ttf')format("truetype"),
  url('../fonts/firasans/firasans-regular-webfont.woff') format('woff'),
  url('../fonts/firasans/firasans-regular-webfont.woff2') format('woff2'),
  url('../fonts/firasans/firasans-regular-webfont.svg#webfont') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'FiraSans-Light';
  src: url("../fonts/firasans/firasans-light-webfont.eot");
  src: url('../fonts/firasans/firasans-light-webfont.ttf')format("truetype"),
  url('../fonts/firasans/firasans-light-webfont.woff') format('woff'),
  url('../fonts/firasans/firasans-light-webfont.woff2') format('woff2'),
  url('../fonts/firasans/firasans-light-webfont.svg#webfont') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'FiraSans-Bold';
  src: url("../fonts/firasans/firasans-bold-webfont.eot");
  src: url('../fonts/firasans/firasans-bold-webfont.ttf')format("truetype"),
  url('../fonts/firasans/firasans-bold-webfont.woff') format('woff'),
  url('../fonts/firasans/firasans-bold-webfont.woff2') format('woff2'),
  url('../fonts/firasans/firasans-bold-webfont.svg#webfont') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'FiraSans-Black';
  src: url("../fonts/firasans/firasans-black-webfont.eot");
  src: url('../fonts/firasans/firasans-black-webfont.ttf')format("truetype"),
  url('../fonts/firasans/firasans-black-webfont.woff') format('woff'),
  url('../fonts/firasans/firasans-black-webfont.woff2') format('woff2'),
  url('../fonts/firasans/firasans-black-webfont.svg#webfont') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'FiraSans-Italic';
  src: url("../fonts/firasans/firasans-italic-webfont.eot");
  src: url('../fonts/firasans/firasans-italic-webfont.ttf')format("truetype"),
  url('../fonts/firasans/firasans-italic-webfont.woff') format('woff'),
  url('../fonts/firasans/firasans-italic-webfont.woff2') format('woff2'),
  url('../fonts/firasans/firasans-italic-webfont.svg#webfont') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'FiraSans-Condensed-Bold';
  src: url("../fonts/firasans-condenced/firasanscondensed-bold-webfont.eot");
  src: url('../fonts/firasans-condenced/firasanscondensed-bold-webfont.ttf')format("truetype");
  src: url('../fonts/firasans-condenced/firasanscondensed-bold-webfont.woff') format('woff'),
  url('../fonts/firasans-condenced/firasanscondensed-bold-webfont.woff2') format('woff2'),
  url('../fonts/firasans-condenced/firasanscondensed-bold-webfont.svg#webfont') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'FiraSans-Condensed-ExtraBold';
  src: url("../fonts/firasans-condenced/firasanscondensed-extrabold-webfont.eot");
  src: url('../fonts/firasans-condenced/firasanscondensed-extrabold-webfont.ttf')format("truetype");
  src: url('../fonts/firasans-condenced/firasanscondensed-extrabold-webfont.woff') format('woff'),
  url('../fonts/firasans-condenced/firasanscondensed-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/firasans-condenced/firasanscondensed-extrabold-webfont.svg#webfont') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'FiraSans-Condensed-SemiBold';
  src: url("../fonts/firasans-condenced/firasanscondensed-semibold-webfont.eot");
  src: url('../fonts/firasans-condenced/firasanscondensed-semibold-webfont.ttf')format("truetype");
  src: url('../fonts/firasans-condenced/firasanscondensed-semibold-webfont.woff') format('woff'),
  url('../fonts/firasans-condenced/firasanscondensed-semibold-webfont.woff2') format('woff2'),
  url('../fonts/firasans-condenced/firasanscondensed-semibold-webfont.svg#webfont') format('svg');
  font-style: normal;
  font-weight: normal;
}



//@font-face {
//  font-family: "FontAwesome";
//  src: url("../fonts/awesome/FontAwesome.otf");
//  src: url("../fonts/awesome/fontawesome-webfont.woff") format("woff"),
//  url("../fonts/awesome/fontawesome-webfont.ttf") format("truetype"),
//  url("../fonts/awesome/fontawesome-webfont.woff2") format("woff2");
//  font-style: normal;
//  font-weight: normal;
//}

