body:after {
  content: '';
  height: 440px;
  display: block;
}

.page-footer {
  background-color: $text-color;
  color: #fff;
  height: 440px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-top: 60px;

  .social-list {
    margin-top: 10px;
  }
}

.footer-title {
  font-family: $font-cond-semi;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.467;
  word-spacing: -1px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.footer-link-list {
  font-family: $font-light;
  font-size: 13px;
  color: #878686;
  li {
    margin-bottom: 8px;
  }
  a {
    transition: .3s ease;
    &:hover {
      color: $accent;
    }
  }
}

.footer-tel-list{
  font-family: $font-cond-semi;
  font-size: 22px;
  margin-bottom: 15px;
  li {
    margin-bottom: 0;
    line-height: 1.4;
  }
  a {
    color: #fff;
  }
}

.footer-connection-block {
  font-family: $font-light;
  b {
    font-family: $font-bold;
    font-size: 15px;
  }
  a {
    color: $accent;
    &:hover {
      text-decoration: underline;
    }
  }
  address {
    display: inline-block;
    margin: 5px 0;
  }
}

.footer-copyright-block {
  color: #878686;
  font-size: 13px;
  text-align: center;
  border-top: 1px solid #373532;
  margin-top: 25px;
  padding-top: 30px;

}

.social-list {
  li {
    display: inline-block;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: block;
    position: relative;
    width: 43px;
    height: 43px;
    background-color: #2a2926;
    transition: .3s ease;
    &:hover {
      background-color: #3a3936;
    }

    i {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      color: #fff;
    }
  }
  .fb {

  }
}

.footer-padding-left {
  padding-left: 40px;
}

@media ($desktop) {

  .page-footer {
    height: 440px;
    padding-top: 38px;
  }

  .footer-connection-block address {
    display: inline;
  }

  .footer-copyright-block {
    margin-top: 45px;
  }

}

@media ($mobile) {

  body:after {
    content: none;
  }

  .page-footer {
    height: auto;
    position: relative;
    padding-bottom: 20px;
  }

  .footer-copyright-block {
    margin-top: 15px;
  }

  .page-footer {
    text-align: center;
  }

  .footer-padding-left {
    padding-left: 0;
  }

  .footer-title {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &.rotate:after {
      transform: rotateZ(315deg) translateY(5px);
    }

    &:after {
      content: "";
      display: block;
      height: 7px;
      width: 7px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      -webkit-transform: rotateZ(135deg);
      -ms-transform: rotate(135deg);
      transform: rotateZ(135deg);
      position: absolute;
      top: 3px;
      right: -15px;
      -webkit-transition: .3s ease;
      transition: .3s ease;
    }
  }

  .footer-tel-list {
    font-size: 18px;
  }

  .footer-link-list,
  .footer-tel-list {
    display: none;
  }

}

