.top-slider {
  position: relative;
  height: 830px;
  color: #fff;



  &__content {

    &--title {
      font-size: 120px;
      font-family: $font-black;
      text-transform: uppercase;
      margin-top: 160px;
      letter-spacing: 12px;
      line-height: 1;
      max-height: 240px;
      width: 630px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--subtitle {
      text-transform: uppercase;
      font-size: 26px;
      letter-spacing: 2.4px;
      height: 44px;
      max-width: 510px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 40px;
    }

    .btn {
      width: 220px;
    }
  }

  &__for {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

    &--item {
      height: 830px;
    }

  }

  &__nav {
    height: 830px;

    .slick-arrow {
      position: absolute;
      bottom: 148px;

      &.slick-prev {
        left: 0;
      }
      &.slick-next {
        left: 26px;
      }
    }

    .slick-dots {
      position: absolute;
      left: 0;
      bottom: 180px;
    }
  }
}

.inform-list {
  padding-top: 70px;


  &__item {
    position: relative;
    z-index: 1;

    &--link {
      display: block;
      position: relative;
    }

    &.item-1 {
      margin-top: 120px;
      height: 430px;
      float: right;

      .subtitle {
        font-size: 15px;
      }
      .title {
        line-height: .9;
        text-transform: uppercase;
        margin-top: 110px;
        margin-bottom: 15px;
        font-size: 72px;
        font-family: $font-black;
      }
    }

    &.item-2 {
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }

    &.item-3 {
      margin-top: 50px;
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }

    &.item-4 {
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }
    &.item-5 {
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }
    &.item-6 {
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }
    &.item-7 {
      .inform-list__item--link {
        float: right;
      }
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }
    &.item-8 {
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }

    &.item-9 {
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }

    &.inverse {
      color: #fff;
    }

    .title-light {
      display: inline-block;
      position: absolute;
      font-family: $font-black;
      font-size: 46px;
      line-height: 1;
    }

    .link-decor {

      &:after {
        content: '';
        display: block;
        width: 75px;
        height: 4px;
        background-color: $accent;
        position: absolute;
        top: -22px;
        right: -9px;
        transform: rotateZ(-45deg);
      }
      &:before {
        content: '';
        display: block;
        width: 75px;
        height: 4px;
        background-color: $accent;
        position: absolute;
        bottom: -23px;
        left: -69px;
        transform: rotateZ(-45deg);
      }
    }

    .decor-border {
      width: 85%;
      height: 100%;
      position: absolute;
      top: 7px;
      right: 0;
      border: 7px solid $accent;
      z-index: -1;
    }

  }
}

.section-padding {
  padding: 80px 0;
}

.section-with-bg {
  background-color: #f2f2f7;

  &--skew {
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 999px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: #f2f2f7;
      transform: translate(25%, -50%) rotateZ(45deg);
    }
  }

  &--black {
    background-color: #22201c;
    color: #fff;
  }
}


.goods {
  background-color: #fff;
  max-width: 302px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s ease;
    z-index: -1;
  }
  &:hover {
    &:after {
      box-shadow: 0 0 12px 0 rgba(0,0,0, .2);
    }
  }

  .btn {
    width: 210px;
  }
}

.goods-image {
  height: 300px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  a {
    display: block;
    height: 100%;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}

.goods-link {
  padding: 0 30px;
  text-align: center;
  height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    font-family: $font-cond-semi;
    text-transform: uppercase;
    font-size: 18px;
    line-height: normal;
    &:hover {
      text-decoration: underline;
    }
  }
}

.goods-top-block {
  border-bottom: 1px solid #dcdcea;
  padding-bottom: 15px;
}

.goods-bottom-block {
  text-align: center;
  padding: 10px 20px 25px;
}

.goods-price {
  font-family: $font-cond-extra;
  margin-bottom: 10px;
  height: 51px;

  &__old {
    color: #73737b;
    font-size: 24px;
    margin-right: 10px;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $text-color;
      position: absolute;
      top: 14px;
      left: -1px;
    }
    &>span:last-child {
      font-size: 14px;
    }
  }
  &__current {
    font-size: 30px;
    &>span:last-child {
      font-size: 16px;
    }
  }
}

.goods-read-more {
  height: 52px;
}


.four-item-slider {
  .goods {
    margin: 7px;
  }
  .slick-arrow {
    position: absolute;
    top: -80px;

    &.slick-next {
      right: 0;
    }

    &.slick-prev {
      right: 30px;
    }

    &:after {
      border-color: $text-color;
    }
    &:hover {
      &:after {
        border-color: $accent;
      }
    }
  }
  .slick-dots {
    text-align: center;
    margin-top: 20px;
    button {
      background-color: $text-color;
      &:hover {
        background-color: $accent;
      }
    }
    .slick-active button {
      background-color: $accent;
    }
  }
}

.section-title-h2 {
  max-width: 980px;
}


.lookbook-main {
  height: 700px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;

    &--title {
      font-size: 120px;
      color: #fff;
      position: relative;
      display: inline-block;
      line-height: 1.6;
      margin-bottom: 30px;

      &:after {
        content: '';
        display: block;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $accent;
      }
      &:before {
        content: '';
        display: block;
        height: 5px;
        width: 100%;
        position: absolute;
        bottom: 5px;
        left: 0;
        background-color: $accent;
      }
    }

    .btn {
      width: 258px;
    }

  }
}

.news-main-item {

  &__date {
    font-family: $font-black;
    border-bottom: 2px solid $text-color;
    margin-bottom: 20px;
    span {
      font-size: 36px;
    }
    small {
      font-size: 18px;
    }
  }

  &__image {
    height: 180px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    a {
      display: block;
      height: 100%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__link {
    font-family: $font-cond-semi;
    font-size: 18px;
    text-transform: uppercase;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    height: 90px;
    overflow: hidden;
  }

}


.white-text {
  & > * {
    color: #fff;
  }
}

.black-text {
  & > * {
    color: $text-color;
  }
}

.accent-bg {
  background-color: $accent;
  z-index: 1;
}

.description-main {

  &.accent-bg {
    padding-left: 40px;
    padding-right: 40px;
  }

  &.black-text {
    p {
      font-family: $font-bold;
      font-size: 16px;
    }
  }

  &.left-padding {
    padding-left: 40px;
  }

  &.right-padding {
    padding-right: 40px;
  }

  .decor-map {
    width: 52%;
    display: block;
  }
}



















