.top-slider {
  position: relative;
  height: 830px;
  color: #fff;



  &__content {

    &--title {
      font-size: 120px;
      font-family: $font-black;
      text-transform: uppercase;
      margin-top: 160px;
      letter-spacing: 12px;
      line-height: 1;
      max-height: 240px;
      width: 630px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--subtitle {
      text-transform: uppercase;
      font-size: 26px;
      letter-spacing: 2.4px;
      height: 44px;
      max-width: 510px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 40px;
    }

    .btn {
      width: 220px;
    }
  }

  &__for {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

    &--item {
      height: 830px;
    }

  }

  &__nav {
    height: 830px;

    .slick-arrow {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 148px;

      &.slick-prev {
        left: 0;
      }
      &.slick-next {
        left: 26px;
      }
    }

    .slick-arrow:after {
      content: '';
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      height: 15px;
      width: 15px;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      display: block;
    }

    .slick-dots {
      position: absolute;
      left: 0;
      bottom: 180px;
    }
  }
}

.inform-list {
  padding-top: 70px;


  &__item {
    position: relative;
    z-index: 1;

    &--link {
      display: block;
      position: relative;
    }

    &.item-1 {
      margin-top: 120px;
      height: 430px;
      float: right;

      .subtitle {
        font-size: 15px;
      }
      .title {
        line-height: .9;
        text-transform: uppercase;
        margin-top: 110px;
        margin-bottom: 15px;
        font-size: 72px;
        font-family: $font-black;
      }
    }

    &.item-2 {
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }

    &.item-3 {
      margin-top: 50px;
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }

    &.item-4 {
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }
    &.item-5 {
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }
    &.item-6 {
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }
    &.item-7 {
      .inform-list__item--link {
        float: right;
      }
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }
    &.item-8 {
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }

    &.item-9 {
      .title-light {
        bottom: 80px;
        left: 73px;
      }
    }

    &.inverse {
      color: #fff;
    }

    .title-light {
      display: inline-block;
      position: absolute;
      font-family: $font-black;
      font-size: 46px;
      line-height: 1;
    }

    .link-decor {

      &:after {
        content: '';
        display: block;
        width: 75px;
        height: 4px;
        background-color: $accent;
        position: absolute;
        top: -22px;
        right: -9px;
        transform: rotateZ(-45deg);
      }
      &:before {
        content: '';
        display: block;
        width: 75px;
        height: 4px;
        background-color: $accent;
        position: absolute;
        bottom: -23px;
        left: -69px;
        transform: rotateZ(-45deg);
      }
    }

    .decor-border {
      width: 85%;
      height: 100%;
      position: absolute;
      top: 7px;
      right: 0;
      border: 7px solid $accent;
      z-index: -1;
    }

  }
}




