.container {
  width: 1240px;
  margin: 0 auto;
  position: relative;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.text-page img {
  margin-top: 5px;
}

.text-page img[align="left"] {
  margin-right: 40px;
  margin-bottom: 30px;
}
.text-page img[align="right"] {
  margin-left: 40px;
  margin-bottom: 30px;
}

.text-page a {
  color: $accent;
  text-decoration: underline;
  &:hover {
    color: $accent-hover;
    text-decoration: none;
  }
  &:focus {
    color: $accent-hover;
    text-decoration: none;
  }
}

.text-page__ol > li {
  counter-increment: myCount;
  position: relative;
  padding: 0 0 0 27px;
  margin-bottom: 12px;
  &:before {
    content: counter(myCount) ".";
    position: absolute;
    top: 0;
    left: 0;
    font-family: $font-black;
    color: $accent;
    font-size: 20px;
    line-height: 1;
  }
  i {
    color: #4c4945;
  }
}
.text-page__ul > li {
  position: relative;
  padding: 0 0 0 27px;
  margin-bottom: 10px;
  &:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: $accent;
    border-radius: 50%;
    border: 3px solid $text-color;
  }
  i {
    color: #4c4945;
  }
}

.text-page {
  &__ol>li>ol, &__ol>li>ul, &__ul>li>ol, &__ul>li>ul {
    margin: 13px 0;
    &>li {
      margin-bottom: 13px;
      padding-left: 0;
      &:before {
        content: none;
      }
    }
  }
}

.blockquote {
  color: #595858;
  font-family: $font-italic;
  font-size: 15px;
  padding: 40px 45px;
  border: 0;
  margin: 15px 0;
  position: relative;
  display: block;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 198px;
    height: 60px;
    border-top: 1px solid #dcdcdc;
    background: url("../img/png_icons/qLeft.png") no-repeat bottom left;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 198px;
    height: 60px;
    border-bottom: 1px solid #dcdcdc;
    background: url("../img/png_icons/qRight.png") no-repeat top right;
  }
  p {

  }
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  tr:first-child {
    font-family: $font-cond-bold;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #fff !important;
    border-bottom: 2px solid $text-color;
    td {

    }
  }

  tr:nth-child(odd){
    background-color: #f4f3f8;
  }

  tr {
    border-bottom: 1px solid #dcdcdc;
    vertical-align: middle;
    td:nth-child(2){
      max-width: 400px;
    }
  }

  td {
    padding: 10px 15px 7px;

  }
  b {
    font-family: $font-cond-extra;
    span:first-child{
      font-size: 24px;
    }
    span:last-child {
      font-size: 12px;
    }
  }
}
.resp-table {
  display: none;
  border-top: 1px solid #dcdcdc;

  .responsive-table:first-child {
    display: none;
  }
  .responsive-table {
    border-bottom: 1px solid #dcdcdc;
    position: relative;

    tr:nth-child(odd){
      background-color: transparent;
    }
    tr:first-child {
      //td {
      //  display: inline-block;
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  &:first-child{
      //    display: none;
      //  }
      //}
    }


    tr {
      border-bottom: 0;
      &:first-child td {
        border-bottom: 0;
      }
      td:first-child {
        font-family: $font-cond-bold;
        width: 36%;
        text-transform: uppercase;
      }

    }
  }
}

.text-page iframe {
  margin-bottom: 40px;
}


///////////////////////////////////// category /////////////////////////////////////////////

.category {
  margin-bottom: 50px;

  &__item {
    margin-bottom: 20px;
    &>a {
      display: block;
      height: 100%;
      text-decoration: none;
      &:hover {
        .category__item--link {
          border-top-color: $accent;
          background-color: $accent;
        }
      }
    }
    &--image {
      height: 230px;
      margin-bottom: 12px;
      position: relative;
      display: block;
      overflow: hidden;
      img {
        margin-top: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--link {
      display: block;
      color: $text-color;
      border-top: 2px solid $text-color;
      font-family: $font-bold;
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
      padding: 0 15px;
      line-height: 2.5;
      transition: .3s ease;
    }
  }

  &.category-lookbook {

    .category__item--image {
      height: 305px;
    }

    .category__item--link {
      font-size: 16px;
      text-transform: none;
      line-height: 1.4;
      padding: 16px 0 14px;
    }
  }
}

.seo-text {
  margin-bottom: 50px;
  p {
    margin-bottom: 20px;
  }
}

///////////////////////////////////////// catalog /////////////////////////////////////////

.sidebar {
  display: inline-block;
  vertical-align: top;
  margin: 0 -2px;
  width: 22%;
  margin-bottom: 30px;
}

.sidebar-title {
  font-family: $font-black;
  font-size: 24px;
  border-bottom: 2px solid $text-color;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 0;
}

.sidebar-list {
  margin-bottom: 40px;
  &__item {
    border-bottom: 1px solid #dcdcdc;
    &.active {
      a {
        background-color: $accent;
        &:hover {
          background-color: $accent-hover;
        }
      }
    }
    &>a {
      display: block;
      padding: 18px 21px 14px;
      transition: .3s ease;
      text-transform: uppercase;
      font-family: $font-bold;
      font-size: 16px;
      &:hover {
        background-color: #f0f0f3;
      }
    }
    &.open {
      .sidebar-sublist {
        display: block;
      }
    }
  }
}

.sidebar-sublist {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: 1px solid #dcdcdc;
  display: none;

  &__item {
    font-size: 15px;
    transition: .3s ease;
    padding: 6px 20px;

    &:hover {
      background-color: $accent;
      &>a {
        font-family: $font-bold;
      }
    }
    &>a {
      border-bottom: 1px dotted $text-color;
      margin-right: 5px;
    }
  }
}

.sidebar-filter-applied {
  padding: 16px 0 10px;

  &__block {
    margin-bottom: 5px;

    &--title {
      font-size: 16px;
      font-family: $font-bold;
    }
    &--prop {
      a {
        display: inline-block;
        padding-left: 20px;
        position: relative;
        &:before, &:after {
          content: '';
          display: block;
          width: 14px;
          height: 2px;
          background-color: $text-color;
          position: absolute;
          top: 9px;
          left: 0;
        }
        &:before {
          transform: rotateZ(45deg);
        }
        &:after {
          transform: rotateZ(-45deg);
        }
      }
    }
  }
}

.sidebar-two-column {
  column-count: 2;
  column-gap: 5px;
  &>li {
    margin-bottom: 7px;
  }
}
.sidebar-one-column {
  &>li {
    margin-bottom: 7px;
  }
}

.sidebar-one-line {
  & > li {
    display: inline-block;
    margin-right: 12px;
    margin-left: -2px;
    margin-bottom: 7px;

    &:nth-child(9n+9) {
      margin-right: 0;
    }
  }
}

.sidebar-filter__item {
  &--title {
    display: block;
    text-transform: uppercase;
    font-family: $font-bold;
    font-size: 16px;
    border-top: 1px solid #dcdcdc;

    line-height: normal;
    padding: 18px 35px 16px 0;
    position: relative;

    &:after, &:before {
      content: "";
      display: block;
      width: 18px;
      height: 2px;
      background-color: $text-color;
      position: absolute;
      top: 24px;
      right: 0;
    }
    &:before {
      transform: rotateZ(90deg);
      transition: .3s ease;
    }
    &.open {

      border-bottom: 1px solid #dcdcdc;
      &:before {
        transform: rotateZ(180deg);
      }
    }


  }
  &--content {
    padding: 20px 0 15px;
  }
}



.sidebar-range {
  padding: 15px 0;
  &__val {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    input {
      height: 42px;
      padding: 0 15px;
      border: 1px solid #dcdcea;
      width: 100%;
    }
    &>div {
      width: 40%;
    }
    .range-from {
      position: relative;
      &:after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 1px;
        background-color: $text-color;
        position: absolute;
        top: 20px;
        right: -27%;

      }
    }
  }
}
.sidebar-filter-submit {
  width: 100%;
  margin-bottom: 15px;
}
.sidebar-filter-reset {
  font-size: 15px;
  border: 0;
  background: transparent;
  padding: 0;
  border-bottom: 1px dashed $text-color;
  display: table;
  margin: 0 auto;
}

.sidebar-filter-ctrl {
  border-top: 1px solid #dcdcdc;
  padding-top: 30px;
}

.right-block {
  display: inline-block;
  margin: 0 -2px;
  width: 78%;
  vertical-align: top;
  padding-left: 40px;
}

.catalog-subcategory-title {
  display: none;
}

.catalog-subcategory {
  border-top:  1px solid #dcdcdc;
  border-bottom:  1px solid #dcdcdc;
  padding: 35px 0 0;
  margin-bottom: 25px;
  &>li {
    margin-bottom: 25px;
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    margin-left:-2px;
    margin-right:-2px;
  }
  &__item {
    display: block;
    position: relative;
    padding-left: 60px;
    padding-right: 25px;

    &:hover {
      .catalog-subcategory__item--title {
        color: $accent;
        border-color: $accent;
      }
    }
    &--image {
      display: block;
      width: 45px;
      height: 45px;
      margin-right: 10px;
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      &>img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
        margin: auto;
      }
    }
    &--title {
      border-bottom: 1px dotted $text-color;
      transition: .3s ease;
      line-height: normal;
      font-size: 15px;
    }
  }
}

.catalog-title {
  margin-bottom: 20px;
}

.catalog-sort {
  margin-bottom: 20px;
  &__label {
    vertical-align: middle;
    position: relative;
    top: 2px;
    font-size: 15px;
  }

  &__list {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;

    &>li {
      display: inline-block;
      margin-right: 5px;
      &.init {
        display: none;
      }
      a {
        display: block;
        padding: 10px 28px 8px;
        border: 2px solid transparent;
        font-size: 15px;
        text-transform: lowercase;
        color: #5e5b57;
        transition: .3s ease;
        &:hover {
          color: $text-color;
        }
      }
      &.active {
        a {
          border-color: $text-color;
          color: $text-color;
        }
      }
    }
  }
}

.catalog-list {
  margin-bottom: 35px;

  &__item {
    display: inline-block;
    width: 33%;
    margin-left: -2px;
    margin-right: .3333%;
    margin-bottom: 8px;
    &:nth-child(3n+3){
      margin-right: 0;
    }
  }
}

.catalog-more-link {
  text-align: center;
  font-size: 18px;
  &>a {
    display: inline-block;
    margin-right: 7px;
    &:after {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      border-top: 2px solid $text-color;
      border-right: 2px solid $text-color;
      transform: rotateZ(135deg);
      margin: 0 0 3px 9px;
    }
  }
}

//////////////////////////////////////////////// catalog detail //////////////////////////////////////
.product {
  margin-bottom: 90px;


}

.product-slider, .product-ctrl {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin: 0 -2px;
}

.product-wrapper-top {
  margin-bottom: 40px;
}

.product-sticker {
  position: absolute;
  top: 20px;
  right: 1px;
  z-index: 5;
  &>* {
    display: inline-block;
  }
}

.product-slider {
  position: relative;

  &__top {
    width: 100%;
    height: 615px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &--item {
      position: relative;
      height: 615px;
      border: 1px solid #dcdcea;

      img {
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  &__bottom-wrapper {
    height: 130px;
    padding-top: 5px;
    overflow: hidden;
    margin-top: -5px;
    width: 100%;
    border-bottom: 1px solid #dcdcea;

  }
  &__bottom {
    height: 123px;
    width: 80%;
    position: relative;
    z-index: 2;
    margin-top: -5px;


    &:after {
      content: '';
      display: block;
      width: 127px;
      height: 125px;
      position: absolute;
      top: 4px;
      right: -124px;
      z-index: -1;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: #dcdcea;

    }

    .slick-arrow {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 15px;
      width: 15px;
      transition: .3s ease;
      border-top: 2px solid $text-color;
      border-right: 2px solid $text-color;

      &.slick-disabled {
        border-top: 2px solid #c7c7d9;
        border-right: 2px solid #c7c7d9;
      }

      &.slick-prev {
        transform: rotateZ(225deg);
        right: -45px;
      }

      &.slick-next {
        transform: rotateZ(45deg);
        right: -90px;
      }

      &:after {
        content: none;
      }
    }

    .slick-list {
      padding: 5px 3px 1px 1px;
    }

    .slick-current {
      .product-slider__bottom--item {
        &:after {
          border-color: $accent;
          z-index: 3;
        }
        &:before {
          content: '';
          display: block;
          width: 7px;
          height: 7px;
          border-top: 1px solid $accent;
          border-right: 1px solid $accent;
          position: absolute;
          top: -4px;
          left: 50%;
          margin-left: -5px;
          background-color: #fff;
          transform: rotateZ(-45deg);
          z-index: 4;
        }
      }
    }

    &--item {
      position: relative;
     &>a {
       height: 123px;
       display: block;
       overflow: hidden;
       background-color: #fff;

       &>img {
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         margin: auto;
         max-height: 100%;
       }
     }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        right: -1px;
        left: -1px;
        bottom: -1px;
        border: 1px solid #dcdcea;
      }
    }
  }
}

.product-zoom {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 25px;
  z-index: 3;
  text-align: center;
  color: $text-color;
  font-size: 13px;

  .icon-zoom-in {
    font-size: 20px;
    position: relative;
    top: 6px;
    margin-right: 3px;
  }
}



.product-ctrl {
  padding-left: 37px;
}

.product-art {
  color: #676664;
  font-size: 16px;
  padding: 5px 0;
  margin-bottom: 10px;
}

.product-short-description {
  margin-bottom: 10px;
  &>* {
    line-height: 1.785;
  }
}

.product-price {
  font-family: $font-cond-bold;
  line-height: normal;
  padding: 7px 0 7px 8px;
  margin-bottom: 10px;

  &__old {
    color: #73737b;
    margin-right: 25px;
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      display: block;
      width: 105%;
      height: 1px;
      background-color: $text-color;
      position: absolute;
      top: 16px;
      left: -2px;
    }
    &>span:first-child {
      font-size: 36px;
    }
    &>span:last-child {
      font-size: 18px;
    }
  }

  &__current {
    &>span:first-child {
      font-size: 50px;
    }
    &>span:last-child {
      font-size: 22px;
    }
  }
}

.product-label {
  font-family: $font-bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.product-color {
  margin-bottom: 15px;
  &__list {
    padding-left: 5px;
    &>li {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
    .goods-color {
      height: 28px;
      width: 28px;
      line-height: normal;
      &:after {
        height: 37px;
        width: 37px;
      }
    }
  }
}

.product-size {
  margin-bottom: 35px;
  &__list {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    bottom: 4px;
    li {
      display: inline-block;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      color: #676664;
      display: inline-block;
      padding: 7px 10px 5px;
      border: 1px solid #dcdcea;
      transition: .3s ease;
      &.active {
        font-family: $font-bold;
        font-size: 17px;
        padding: 3px 9px 3px;
        color: $text-color;
        border-color: $text-color;
        position: relative;
        top: 1px;
        &:hover {
          border-color: $text-color;
        }
      }
      &:hover {
        border-color: #9898b6;
      }

    }
  }

  &__popup {
    &:hover {
      .iconmoon {
        color: $accent;
      }
    }
    .iconmoon {
      margin-right: 10px;
      font-size: 25px;
      position: relative;
      top: 5px;
      transition: .3s ease;
    }
  }
}

.product-distribute {
  margin-bottom: 25px;
  .btn {
    width: 260px;
    padding: 22px 0 16px;
    font-size: 18px;
    margin-right: 25px;
    &:hover {
      background-color: $accent-hover;
    }
  }
}

.product-property-title {
  font-size: 34px;
  font-family: $font-black;
  margin-bottom: 20px;
}

.product-property-table {
  width: 100%;
  border-collapse: collapse;
  tbody {
    tr:nth-child(odd) {
      background-color: #f4f3f8;
      border-top: 1px solid #dcdcdc;
      border-bottom: 1px solid #dcdcdc;
    }
    tr:first-child {
      font-family: $font-cond-bold;
      font-size: 16px;
      text-transform: uppercase;
      border-top: 0;
      border-bottom: 2px solid $text-color;
      background-color: #fff;
      td {
        padding: 0 10px 5px 20px;
      }
    }
    tr {
      vertical-align: top;
      td {
        padding: 20px 10px 20px 20px;

        &:first-child {
          font-family: $font-bold;
          width: 27%;
        }
      }
    }
  }
}

.product-property {
  margin-bottom: 30px;

  .left-block, .right-block {
    display: inline-block;
    width: 50%;
    margin: 0 -2px;
    vertical-align: top;
  }
  .right-block {
    padding-left: 37px;
  }
}

.product-section {
  margin-bottom: 45px;
}

.product-technologies {
  margin-bottom: 40px;

  &__item {
    &>a {
      display: block;
      height: 100%;
      &:hover {
        .product-technologies__item--image {
          border-color: $accent;
        }
        .product-technologies__item--text {
          background-color: $accent;
        }
      }

    }
    &--image {
      height: 196px;
      display: block;
      position: relative;
      overflow: hidden;
      border-width: 2px 2px 0 2px;
      border-style: solid;
      border-color: #f4f3f8;
      background-color: #f4f3f8;
      transition: .3s ease;

      &>img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-height: 100%;
        //width: 100%;
      }
    }

    &--text {
      display: block;
      height: 130px;
      background-color: #eceaf3;
      padding: 36px 53px;
      text-align: center;
      overflow: hidden;
      transition: .3s ease;
      &>span {
        height: 65px;
        overflow: hidden;
        display: block;
      }
    }
  }
}


.six-item-slider {
  .goods {
    margin: 4px;
  }
}

.product-news-main {
  margin-top: -10px;
  .news-main-item {
    margin: 0 6px;
  }
}

.product-slider-section {
  .product-property-title {
    max-width: 93%;
  }
}

.product-fourItem-slider.product-news-main .slick-arrow {
  top: -70px;
}

.product-modal-gallery {

  &__left {
    display: inline-block;
    width: 75%;
    margin: 0 -2px;
    vertical-align: top;
  }
  &__right {
    display: inline-block;
    width: 25%;
    margin: 0 -2px;
    vertical-align: top;
    padding: 35px;
    text-align: center;

    &--title {
      font-family: $font-black;
      font-size: 22px;
      text-align: center;
      line-height: normal;
      height: 70px;
      overflow: hidden;
      margin-bottom: 25px;
    }
  }
}

.gallery-slider-nav {
  width: 140px;
  height: 615px;
  margin: 0 auto;

  &.slick-vertical {
    .slick-slide {
      border: 0;
    }
  }

  .slick-list {
    padding: 2px 2px 2px 5px;
  }

  .slick-current {
    .gallery-slider-nav__item {
      &:after {
        z-index: 3;
        border-color: $accent;
      }
      &:before {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        border-top: 1px solid #ffcc00;
        border-right: 1px solid #ffcc00;
        position: absolute;
        top: 50%;
        left: -4px;
        background-color: #fff;
        transform: rotateZ(-135deg);
        z-index: 4;
      }
    }
  }


  &:after {
    content: '';
    display: block;
    width: 135px;
    height: 125px;
    position: absolute;
    bottom: -127px;
    right: 1px;
    z-index: -1;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #dcdcea;
  }

  &__item {
    position: relative;
    &> a {
      height: 123px;
      display: block;
      overflow: hidden;
      background-color: #fff;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
      }
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: -1px;
      right: -1px;
      left: -1px;
      bottom: -1px;
      border: 1px solid #dcdcea;
    }
  }

  .slick-arrow {
    position: absolute;
    &:after {
      border-color: $text-color;
    }

    &.slick-next {
      bottom: -95px;
      left: 64px;

      &:after {
        transform: rotateZ(135deg);
      }
    }

    &.slick-prev {
      bottom: -50px;
      left: 64px;
      &:after {
        transform: rotateZ(-45deg);
      }
    }
  }
}

.gallery-slider-view {
  &__item {
    height: 935px;
    position: relative;
    &>img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

//////////////////////////////////////////// technologies //////////////////////////////////

.technologies-list {
  margin-bottom: 25px;

  .product-technologies__item {
    display: inline-block;
    margin-left: -2px;
    width: 24.5%;
    margin-right: .5%;
    margin-bottom: 8px;

    &:nth-child(4n+4){
      margin-right: 0;
    }
  }
}

////////////////////////////////////// technology detail ////////////////////////////////////////
.technology {
  margin-bottom: 70px;
}

.technology-detail {
  display: flex;
  align-items: stretch;
  margin-bottom: 35px;

  &__image {
    display: inline-block;
    width: 25%;
    background-color: #f4f3f8;
    margin: 0 -2px;
    vertical-align: top;
    &--wrapper {
      height: 160px;
      position: relative;
      overflow: hidden;
      &>img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

      }
    }
  }
  &__text {
    display: inline-block;
    background-color: #eceaf3;
    width: 75%;
    margin: 0 -2px;
    vertical-align: top;
    padding: 35px 45px;

  }
}

///////////////////////////////////// search ////////////////////////////////////////////////////

.search-label {
  font-family: $font-bold;
  font-size: 18px;
  margin-bottom: 30px;
}

.sidebar-category {

  &__list {

    &--item {
      border-bottom: 1px solid #dcdcdc;
      &>a {
        font-family: $font-bold;
        text-transform: uppercase;
        font-size: 16px;
        display: block;
        padding: 10px 20px;
      }
    }
  }
}

//////////////////////////////////////////////// news list/////////////////////////////////////////////


.news-list {
  .news-main-item {
    margin-bottom: 35px;
  }
}

////////////////////////////////////////////// news detail ////////////////////////////



.news-detail {
margin-bottom: 40px;

  &__ctrl {
    float: right;
    width: 59%;
    margin-bottom: 25px;

    &:after {
      display: block;
      content: "";
      clear: both;
    }

    .detail-data {
      margin-top: 4px;
    }

    .detail-social {
      float: right;
      padding: 0;

    }
  }

  &__image {
    float: left;
    width: 41%;
    padding-right: 25px;
    padding-bottom: 10px;

    &:after {
      display: block;
      content: "";
      clear: both;
    }
  }

  &__back {
    padding: 60px 0;
    &--btn {
      padding: 15px 24px 12px;
    }
  }
}


///////////////////////////////////////////// reviews detail ////////////////////////////////////

.reviews-detail {
  margin-bottom: 40px;

  &__ctrl {
    padding-top: 5px;
    margin-bottom: 15px;

    .detail-social {
      float: right;
      padding: 0;
    }
  }
  .left-content.text-page iframe {
    height: 520px;
  }
  .left-content.text-page img {
    width: 45%;
  }
}

.reviews-detail-video {
  margin-bottom: 40px;
}

///////////////////////////// about //////////////////////////////////

.about {
  margin-bottom: 60px;
}


////////////////////////////////// dealer //////////////////////////////////

.dealer {
  margin-bottom: 60px;
  &__left {
    padding-right: 20px;
  }
  &__right {
    padding-left: 20px;
  }
}

.gray-form {
  background-color: #f2f2f7;
  padding: 30px 40px;
  text-align: center;

  .custom-input {
    input {
      border-color: $text-color;
      color: $text-color;
    }
  }
  .btn {
    width: 220px;
  }
}

////////////////////////////// contacts ///////////////////////////////////////////

.contacts {
  margin-top: -50px;
  position: relative;
}

.contacts__top {
  position: relative;
  height: 820px;
}

.contacts-map {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container-contacts {
  height: 820px;
}

.contacts-list {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(255, 204, 0, .902);
  padding: 50px 40px 0;
  width: 405px;

  &__item {
    border-bottom: 1px solid #b99916;
    position: relative;
    padding-left: 47px;
    padding-bottom: 28px;
    margin-bottom: 32px;
    &:last-child {
      border: 0;
    }
    &--title {
      margin-bottom: 6px;
    }
    &--tel {
      font-size: 20px;
      line-height: 1;
    }
    &--mail {
      font-size: 15px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .iconmoon {
      position: absolute;
      top: 10px;
      left: 0;
      &.icon-c-picker {
        font-size: 27px;
        top: 10px;
      }
      &.icon-phone-call {
        font-size: 23px;
      }
      &.icon-email {
        font-size: 19px;
      }
    }
  }
}

.sitemap {
  margin-bottom: 60px;

  &__list  {

    &--title {
      font-family: $font-cond-bold;
      text-transform: uppercase;
      font-size: 18px;
      transition: .3s ease;
      display: block;
      padding: 10px 20px 7px;
      letter-spacing: 1px;
      &:hover {
          background-color: #f2f2f7;
      }
    }
  }
}


.sitemap-sublist {
  &__item {
    padding-left: 40px;
    position: relative;
    padding-top: 7px;

    &.has-child {
      .sitemap-sublist__item--link {
        &:before {
          content: "";
          display: inline-block;
          width: 6px;
          height: 6px;
          border-bottom: 1px solid #000;
          border-right: 1px solid #000;
          transition: .3s ease;
          transform: rotate(45deg);
          position: absolute;
          left: -19px;
          top: 7px;
          pointer-events: none;
        }
      }
      &.open {
        .sitemap-sublist__item--link {
          &:before {
            transform: rotate(-135deg);
            top: 10px;
          }
        }
      }
    }
    &--link {
      font-family: $font-bold;
      font-size: 16px;
      position: relative;
      display: inline-block;
      transition: .3s ease;
      &:hover {
        color: $accent;
      }
    }
  }
}
.sitemap-sub-sublist {
  padding-left: 20px;
  padding-top: 5px;
  display: none;

  &__item {
    margin-bottom: 7px;
    a {
      text-decoration: underline;
      transition: .3s ease;
      &:hover {
        text-decoration: none;
        color: $accent;
      }
    }
  }
}













