.container {
  width: 1240px;
  margin: 0 auto;
  position: relative;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.text-page img[align="left"] {
  margin-right: 30px;
  margin-bottom: 10px;
}
.text-page img[align="right"] {
  margin-left: 30px;
  margin-bottom: 10px;
}

.text-page p {
  line-height: 1.714;
}

.text-page a {
  color: $accent-hover;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    text-decoration: underline;
  }
}

.text-page ol > li {
  counter-increment: myCount;
  position: relative;
  padding: 0 0 0 27px;
  margin-bottom: 10px;
  &:before {
    content: counter(myCount) ".";
    position: absolute;
    top: 0;
    left: 0;
    font-family: $font-black;
    color: $accent;
    font-size: 20px;
    line-height: 1;
  }
  i {
    color: #4c4945;
  }
}

