body:after {
  content: '';
  height: 435px;
  display: block; }

.page-footer {
  color: #fff;
  height: 435px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; }

.footer-title {
  font-size: 15px;
  text-transform: uppercase; }
