.breadcrumbs {
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  .breadcrumbs-wrapper {
    padding: 80px 0;
  }
}

.breadcrumbs__interactive {
  padding: 10px 0;
  color: #fff;
  margin-bottom: 50px;


  .breadcrumbs-wrapper {
    display: table;
    width: 100%;
    min-height: 250px;
  }

  .breadcrumbs-left, .breadcrumbs-right {
    display: table-cell;
    vertical-align: middle;
  }

  .breadcrumbs-left {
    width: 70%;
  }

  .breadcrumbs-right {
    width: 30%;
    
    &__social {
      text-align: right;

      .social-list-alt > li > a {
        border-color: #fff;
        color: #fff;
      }
      
    }
  }

  .breadcrumbs-title {
    max-width: 70%;
  }
  .breadcrumbs-list {
    max-width: 70%;
  }

  .interactive-block {
    position: relative;
    height: auto;
    width: 100%;
    transform: none;

    &__image > img {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      max-height: 480px;
      width: auto;
    }
    &__image{
      text-align: center;
      position: relative;
      display: inline-block;
    }
  }

  .interactive-block__modals {
    bottom: 60%;
    width: 267px;
    height: 410px;
    right: 30%;
  }

  .goods-image img {
    max-height: 100%;
    width: auto;
  }

  .goods-image {
    height: 200px;
  }

  .goods-link a {
    font-size: 16px;
  }

  .goods-price__old {
    font-size: 22px;
  }

  .goods-price__current {
    font-size: 28px;
  }
}

.breadcrumbs-title {
  color: #fff;
  line-height: 1;
}

.breadcrumbs-list {
  li {
    a {
      position: relative;
      display: inline-block;
      padding-right: 30px;

      &:after, &:before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        border-right: 1px solid #fff;
        border-top: 1px solid #fff;
        transform: rotateZ(45deg);
        position: absolute;
        top: 8px;
      }
      &:after {
        right: 9px;
      }
      &:before {
        right: 12px;
      }
    }
  }
}

.breadcrumbs-right__social .social-list-alt > li > a {
  border: 2px solid #fff;
  color: #fff;
}

@media ($desktop) {
  .breadcrumbs {
    margin-bottom: 35px;
  }
  .breadcrumbs .breadcrumbs-wrapper {
    padding: 35px 0;
  }
  .breadcrumbs__interactive {
    margin-bottom: 40px;

    .interactive-block__modals {
      //bottom: -35px;
      right: 30%;
      bottom: 22px;
    }
    .interactive-block {
      top: 0;
    }
  }
}

@media ($tablet) {

  .breadcrumbs-right__social .social-list-label {
    margin-right: 10px;
  }
}

@media ($mobile) {
  .breadcrumbs {
    background: none !important;
    margin-bottom: 0;
  }
  .breadcrumbs-title {
    color: $text-color;
    margin: 0;
    font-size: 22px;
  }

  .breadcrumbs .breadcrumbs-wrapper {
    padding: 25px 0;
  }

  .breadcrumbs-list {
    display: none;
  }

  .breadcrumbs__interactive {
    background: none !important;
    margin-bottom: 0;
    padding: 0;

  }

  .breadcrumbs__interactive .breadcrumbs-right {
    display: none;
  }

  .breadcrumbs__interactive .breadcrumbs-left {
    width: 100%;
  }

  .breadcrumbs__interactive .breadcrumbs-wrapper {
    display: block;
    min-height: inherit;
    padding: 25px 0;
  }

  .breadcrumbs__interactive .interactive-block__modals {
    display: none;
  }
}