.top-slider {
  position: relative;
  height: 830px;
  color: #fff;



  &__content {

    &--title {
      font-size: 120px;
      font-family: $font-black;
      text-transform: uppercase;
      margin-top: 160px;
      letter-spacing: 12px;
      line-height: 1;
      max-height: 240px;
      width: 630px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--subtitle {
      text-transform: uppercase;
      font-size: 26px;
      letter-spacing: 2.4px;
      height: 44px;
      max-width: 510px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 40px;
    }

    .btn {
      width: 220px;
    }
  }

  &__for {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

    &--item {
      height: 830px;
    }

  }

  &__nav {


    &--item {
      position: relative;
      z-index: 1;
      height: 830px;
    }

    .slick-arrow {
      position: absolute;
      bottom: 148px;

      &.slick-prev {
        left: 0;
      }
      &.slick-next {
        left: 26px;
      }
    }

    .slick-dots {
      position: absolute;
      left: 0;
      bottom: 180px;
    }
  }
}

.interactive-block {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 779px;
  width: 253px;
  &__image {
    &>img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__modals {
    position: absolute;
    right: 25%;
    bottom: 263px;
    width: 305px;
    height: 515px;
    .goods {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      transition: .3s ease;
      opacity: 0;
      z-index: -1;
      &.active {
        z-index: 2;
        opacity: 1;
      }
    }
  }
}

.image-dot {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $accent;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s ease;
  &:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $accent;
    transition: .3s ease;
  }
  &:hover {
    background-color: #fff;
    &:after {
      border-color: #fff;
      width: 29px;
      height: 29px;
    }
  }
}

.inform-list {
  padding-top: 80px;
  padding-bottom: 80px;

  &__item {
    position: relative;
    z-index: 1;

    &--link {
      display: block;
      position: relative;
      z-index: 2;
      &:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        transition: .3s ease;
        z-index: 1;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border: 1px solid transparent;
      }
      &:hover {
        background-color: $accent;

        &:after {
          background-color: $accent;
          opacity: .8;
        }
        &:before {
          border-color: #bd9c19;
          z-index: 3;
        }
        .title-light {
          color: $text-color;
          bottom: 50% !important;
        }

        .btn {
          z-index: 3;
          opacity: 1;
          transform: translate(-50%, -90%);
        }

        .link-decor {
          &:after {
            opacity: 0;
          }
          &:before {
            opacity: 0;
          }
        }

      }

      .btn {
        width: 220px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        opacity: 0;
        transition: .3s ease;

      }
    }



    &.item-1 {
      margin-top: 40px;
      height: 430px;
      float: right;

      .subtitle {
        font-size: 15px;
      }
      .title {
        line-height: .9;
        text-transform: uppercase;
        margin-top: 110px;
        margin-bottom: 15px;
        font-size: 72px;
        font-family: $font-black;
      }
    }

    &.item-2 {
      .title-light {
        bottom: 105px;
      }
    }

    &.item-3 {
      margin-top: 50px;
      .title-light {
        bottom: 92px;
      }
    }

    &.item-4 {
      .title-light {
        bottom: 52px;
      }
    }
    &.item-5 {
      .title-light {
        bottom: 92px;
      }
    }
    &.item-6 {
      .title-light {
        bottom: 61px;
      }
    }
    &.item-7 {
      .inform-list__item--link {
        float: right;
      }
      .title-light {
        bottom: 153px;
      }
    }
    &.item-8 {
      .title-light {
        bottom: 192px;
      }
    }

    &.item-9 {
      .title-light {
        bottom: 166px;
      }
    }

    &.inverse {
      color: #fff;
    }

    .title-light {
      display: inline-block;
      position: absolute;
      font-family: $font-black;
      font-size: 46px;
      line-height: 1;
      text-transform: uppercase;
      left: 53px;
      z-index: 3;
      transition: .3s ease;
    }

    .link-decor {
      display: block;
      width: 164px;
      height: 87px;
      overflow: visible;

      &:after {
        content: '';
        display: block;
        width: 75px;
        height: 4px;
        background-color: $accent;
        position: absolute;
        top: -22px;
        right: -9px;
        transform: rotateZ(-45deg);
        transition: .3s ease;
      }
      &:before {
        content: '';
        display: block;
        width: 75px;
        height: 4px;
        background-color: $accent;
        position: absolute;
        bottom: -23px;
        left: -69px;
        transform: rotateZ(-45deg);
        transition: .3s ease;
      }
    }

    .decor-border {
      width: 85%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      border: 7px solid $accent;
      z-index: -1;
    }

  }
}

.section-padding {
  padding: 60px 0 75px;
}

.section-with-bg {
  background-color: #f2f2f7;

  &--skew {
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 999px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: #f2f2f7;
      transform: translate(25%, -50%) rotateZ(45deg);
    }
  }

  &--black {
    background-color: #22201c;
    color: #fff;
  }
}

.four-item-slider {

  &.no-dots {
    .slick-dots {
      display: none !important;
    }
  }
  .goods {
    margin: 7px;
  }
  .slick-arrow {
    position: absolute;
    top: -80px;

    &.slick-next {
      right: 0;
    }

    &.slick-prev {
      right: 30px;
    }

    &:after {
      border-color: $text-color;
    }
    &:hover {
      &:after {
        border-color: $accent;
      }
    }
  }
  .slick-dots {
    text-align: center;
    margin-top: 20px;
    button {
      background-color: $text-color;
      &:hover {
        background-color: $accent;
      }
    }
    .slick-active button {
      background-color: $accent;
    }
  }
}

.section-title-h2 {
  max-width: 980px;
}


.lookbook-main {
  height: 700px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;

    &--title {
      font-size: 120px;
      color: #fff;
      position: relative;
      display: inline-block;
      line-height: 1.4;
      margin-bottom: 40px;
      letter-spacing: 14px;

      &:after {
        content: '';
        display: block;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $accent;
      }
      &:before {
        content: '';
        display: block;
        height: 5px;
        width: 100%;
        position: absolute;
        bottom: 11px;
        left: 0;
        background-color: $accent;
      }
    }

    .btn {
      width: 258px;
    }

  }
}

.news-main-item {

  &__date {
    font-family: $font-black;
    border-bottom: 2px solid $text-color;
    margin-bottom: 10px;
    span {
      font-size: 36px;
      line-height: 1.4;
    }
    small {
      font-size: 18px;
    }
  }

  &__image {
    height: 180px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    a {
      display: block;
      height: 100%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__link {
    font-family: $font-cond-semi;
    font-size: 18px;
    text-transform: uppercase;
    height: 45px;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    height: 90px;
    overflow: hidden;
    margin-bottom: 15px;
  }

}


.white-text {
  & > * {
    color: #fff;
  }
}

.black-text {
  & > * {
    color: $text-color;
  }
}

.accent-bg {
  background-color: $accent;
  z-index: 1;
}

.description-main {
  p {
    line-height: 1.6;
  }

  &.accent-bg {
    padding-left: 40px;
    padding-right: 40px;
  }

  &.black-text {
    p {
      font-family: $font-bold;
      font-size: 16px;
    }
  }

  &.left-padding {
    padding-left: 40px;
  }

  &.right-padding {
    padding-right: 40px;
  }

  .decor-map {
    width: 40%;
    display: block;
    margin-top: 30px;
  }
  .btn {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.section-title-h3 {
  margin-bottom: 27px;
}

.description-main__content {
  height: 265px;
  overflow: hidden;
}

.grid{
  .grid-item {
    width: 33.333%;
  }
}

@media ($desktop) {
  .top-slider__content--title {
    font-size: 90px;
    margin-top: 90px;
    letter-spacing: 9px;
    line-height: .9;
    margin-bottom: 15px;
  }

  .top-slider__content--subtitle {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 33px;
  }

  .top-slider__nav--item,
  .top-slider__for--item,
  .top-slider {
    height: 600px;
  }

  .interactive-block__modals {
    right: 20%;
    bottom: 28px;
  }

  .interactive-block {
    height: 520px;
    width: 170px;
    top: 40px;
  }

  .interactive-block__image > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
  }

  .interactive-block__modals .goods {
    top: 0;
    width: 240px;
  }

  .top-slider__nav .slick-arrow {
    bottom: 60px;
  }

  .top-slider__nav .slick-dots {
    bottom: 100px;
  }

  .page-header-callback .btn {
    width: 210px;
  }

  .page-header-middle {
    padding: 8px 0;
  }
  .page-header-logo img {
    max-width: 90px;
  }

  .inform-list {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .inform-list__item .link-decor:after {
    width: 45px;
    height: 4px;
    top: -16px;
    right: 32px;
  }

  .inform-list__item .link-decor:before {
    width: 45px;
    height: 4px;
    bottom: -18px;
    left: -44px;
  }

  .inform-list__item.item-1 {
    margin-top: 52px;
    height: 330px;
  }

  .inform-list__item.item-1 .title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 50px;
  }

  .inform-list__item.inverse.item-2 {
    //height: 297px;
    //overflow: hidden;
    //img {
    //  position: absolute;
    //  top: 50%;
    //  left: 50%;
    //  height: 100%;
    //  max-width: inherit;
    //  transform: translate(-50%, -50%);
    //}
  }

  .inform-list__item.item-3 {
    margin-top: 0;
  }

  .inform-list__item--link {
    height: 100%;
  }

  .inform-list__item.item-2 .title-light {
    bottom: 75px;
  }

  .inform-list__item.item-8 .title-light {
    bottom: 125px;
  }

  .inform-list__item.item-9 .title-light {
    bottom: 125px;
  }

  .four-item-slider .goods {
    margin: auto;
  }

  .four-item-slider .goods {
    max-width: 240px;
  }

  .section-padding {
    padding: 35px 0 40px;
  }

  .lookbook-main__content--title {
    font-size: 100px;
    line-height: 1.7;
    letter-spacing: 12px;
    margin-top: 45px;
  }
  .lookbook-main {
    height: 500px;
  }

  .section-with-bg--skew:after {
    content: none;
  }

  .section-title-h2 {
    margin-bottom: 15px;
    margin-top: 5px;
  }

  .news-main {
    margin-bottom: 45px;
  }

  .news-main-item__image {
    height: 220px;
  }

  .news-main-item__image img {
    width: 100%;
    height: auto;
  }

  .description-main.right-padding {
    padding-right: 15px;
  }

  .description-main.left-padding {
    padding-left: 15px;
  }
  .description-main.accent-bg {
    padding-left: 15px;
    padding-right: 15px;
  }

  .news-main-item__date span {
    font-size: 30px;
  }

  .news-main-item__date small {
    font-size: 16px;
  }

  .news-main-item__text {
    height: 65px;
  }

  .description-main__content {
    height: 270px;
    margin-bottom: 30px;
  }





}

@media ($mobile) {

  .top-slider__nav--item, .top-slider__for--item, .top-slider {
    height: 360px;
  }

  .top-slider__content--title {
    font-size: 36px;
    margin-top: 55px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }

  .top-slider__content--subtitle {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    max-width: 180px;
  }

  .top-slider__content .btn {
    width: 175px;
  }

  .top-slider__nav .slick-arrow {
    bottom: 30px;
  }

  .top-slider__nav .slick-dots {
    bottom: 60px;
  }

  .interactive-block {
    height: 294px;
    width: 120px;
  }

  .image-dot:after {
    width: 18px;
    height: 18px;
  }

  .image-dot {
    width: 10px;
    height: 10px;
  }

  .image-dot:hover:after {
    border-color: #fff;
    width: 23px;
    height: 23px;
  }

  .interactive-block__modals.active {
    right: 0;
    bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0, .7);
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
  }

  .interactive-block__modals .goods {
    top: 30px;
    width: 250px;
    left: 0;
  }

  .interactive-block__modals {
    width: auto;
    height: auto;
    overflow: hidden;
  }

  .inform-list__item--link img {
    width: 100%;
    height: auto;
  }

  .inform-list__item.item-7 .inform-list__item--link {
    float: none;
  }

  .inform-list__item.item-1 {
    margin-top: 0;
    height: 290px;
  }

  .inform-list__item.item-1 .title {
    font-size: 32px;
  }

  .inform-list__item.item-1 .subtitle {
    font-size: 14px;
  }

  .inform-list__item .decor-border {
    width: 80%;
  }

  .title-h2.section-title-h2 {
    font-size: 22px;
  }

  .four-item-slider-block .section-title-h2 {
    max-width: 225px;
  }

  .section-padding {
    padding: 20px 0 25px;
  }

  .four-item-slider .goods {
    max-width: 290px;
  }

  .four-item-slider .slick-arrow {
    top: -58px;
  }

  .lookbook-main__content--title {
    font-size: 50px;
    line-height: 1.7;
    letter-spacing: 4px;
    margin-top: 45px;
  }

  .lookbook-main {
    height: 330px;
  }

  .news-main-item__image {
    height: auto;
    img {
      position: relative;
    }
  }

  .news-main {
    margin-bottom: 25px;
  }

  .description-main {
    padding: 25px;
  }

  .section-with-bg--black {
    overflow: hidden;
  }
  .description-main.accent-bg{
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 999px;
      background-color: $accent;
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
    }
  }








}













